---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Julien Montagut">
    <main class="container max-w-lg justify-center m-auto">
        <div class="flex justify-center align-middle p-2">
            <img class="max-h-48 p-3 w-auto rounded-full" src="/images/profile-picture.jpeg" alt="Julien's Photo"/>
            <!-- Box items one below another -->
            <div class="flex-row align-middle p-3 my-auto">
                <h1 class="font-serif font-bold text-6xl text-transparent leading-10 bg-clip-text bg-gradient-to-r from-ultramarine to-rusty-red">Julien <br />Montagut</h1>
                <div class="mt-5 italic font-sans font-light text-grey-200">
                    Hi, I'm a freelance tech lead and software engineer.
                </div>
            </div>
        </div>

        <!-- <div>
            <h1>Services</h1>
            <div>
                <h2>Software Developement</h2>
                <p>
                    I can help you build your product from scratch or improve
                    your existing codebase.
                </p>
            </div>
            <div>
                <h2 >Agile Skills</h2>
                <p>
                    I can help you improve your team's agility and productivity.
                </p>
            </div>
        </div> -->

        <h2 class="my-5 font-serif text-3xl tracking-wider">🤸‍♀️ Agility</h2>
        <p>
            I'm an advocate for Agile principles. Using Agile practices and the
            SCRUM framework, I've helped teams to improve their processes and
            deliver better software. For me being Agile goes through puting in
            place the right processes and tools to help teams to deliver better
            software.
        </p>
        <p>
            As such, some practices are very important to me, such as:
            <ul>
                <li>Continuous Integration</li>
                <li>Continuous delivery</li>
                <li>Pair Programming</li>
                <li>Test driven development</li>
            </ul>
        </p>
        <h2 class="my-5 font-serif text-3xl tracking-wider">🛠 Skills</h2>
        <h3>🖥️ Programming languages</h3>
        <ul role="list" class="link-card-grid">
        </ul>
        <ul>
            <li>
                <img
                    src="https://img.shields.io/badge/-C%23-239120?style=flat-square&logo=c-sharp&logoColor=white"
                    alt="C#"
                />
                <!-- I've been working with C# for more than 10 years. -->
            </li>
            <li>
                <img
                    src="https://img.shields.io/badge/-Rust-000000?style=flat-square&logo=rust&logoColor=white"
                    alt="Rust"
                />
                <!-- I've been learning Rust for a few months now. -->
            </li>
            <img
                src="https://img.shields.io/badge/-Swift-FA7343?style=flat-square&logo=swift&logoColor=white"
                alt="Swift"
            />
            <li>
                <img
                    src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white"
                    alt="TypeScript"
                />
            </li>
        </ul>
        <h3>📚 Frameworks and libraries</h3>
        <ul>
            <li>
                <img
                    src="https://img.shields.io/badge/-.NET%20Core-5C2D91?style=flat-square&logo=dotnet&logoColor=white"
                    alt=".NET Core"
                />
            </li>
            <li>
                <img
                    src="https://img.shields.io/badge/-React-61DAFB?style=flat-square&logo=react&logoColor=white"
                    alt="React"
                />
            </li>
        </ul>
        <h3>🗄️ Databases</h3>
        <ul>
            <li>
                <img
                    src="https://img.shields.io/badge/-PostgreSQL-336791?style=flat-square&logo=postgresql&logoColor=white"
                    alt="PostgreSQL"
                />
            </li>
            <li>
                <img
                    src="https://img.shields.io/badge/-MongoDB-47A248?style=flat-square&logo=mongodb&logoColor=white"
                    alt="MongoDB"
                />
            </li>
        </ul>
        <h2 class="my-5 font-serif text-3xl tracking-wider">💼 Experience</h2>
        <p><b>2021 - Present:</b> Freelance software developer and tech lead</p>
        <p>
            <b>2019 - 2021:</b> Lead backend developer at [Wiidii](https://www.wiidii.com/)
        </p>
        <p><b>2017 - 2019:</b> CTO at [Clezer](https://www.clezer.com/)</p>
        <p>
            <b>2015 -2017:</b> Technical Lead @ [RE'FLEKT GmbH](https://www.re-flekt.com/)
        </p>
        <p>
            <b>2013 - 2015:</b> Software Engineer @ [RE'FLEKT GmbH](https://www.re-flekt.com/)
            <b>Before 2013:</b> Various freelance projects
        </p>
        <h2 class="my-5 font-serif text-3xl tracking-wider">📚 Education</h2>
        <p><b>2012:</b> Master's degree in Computer Science</p>
        <h2 class="my-5 font-serif text-3xl tracking-wider">📝 Certifications</h2>
        <p><b>2015:</b> Certified SCRUM Product Owner (CSPO)</p>
    </main>
</Layout>

<style>
</style>
