---
import Avatar from "../components/Avatar.astro";
import Card from "../components/Card.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Julien Montagut">
    <main>
        <!-- <script
            src="https://platform.linkedin.com/badges/js/profile.js"
            async
            defer
            type="text/javascript"
        ></script>

        <div
            class="badge-base LI-profile-badge"
            data-locale="fr_FR"
            data-size="large"
            data-theme="dark"
            data-type="VERTICAL"
            data-vanity="julienmontagut"
            data-version="v1"
        >
            <a
                class="badge-base__link LI-simple-link"
                href="https://fr.linkedin.com/in/julienmontagut/fr?trk=profile-badge"
                >Julien Montagut</a
            >
        </div> -->

        <div class="introduction">
            <Avatar src="/images/profile-picture.jpeg" alt="Julien's Photo"/>
            <!-- Box items one below another -->
            <div class="flex flex-col">
                <Title>Julien <br />Montagut</Title>
                <div class="tagline">
                    Hi, I'm a freelance tech lead and software engineer.
                </div>
            </div>
        </div>

        <div>
            <h1>Services</h1>
            <div class="card">
                <h2>Software Developement</h2>
                <p>
                    I can help you build your product from scratch or improve
                    your existing codebase.
                </p>
            </div>
            <div class="card">
                <h2 >Agile Skills</h2>
                <p>
                    I can help you build your product from scratch or improve
                    your existing codebase.
                </p>
            </div>
        </div>

        <h2>🤸‍♀️ Agility</h2>
        <p>
            I'm an advocate for Agile principles. Using Agile practices and the
            SCRUM framework, I've helped teams to improve their processes and
            deliver better software. For me being Agile goes through puting in
            place the right processes and tools to help teams to deliver better
            software.
        </p>
        <p>
            As such, some practices are very important to me, such as:
            <ul>
                <li>Continuous Integration</li>
                <li>Continuous delivery</li>
                <li>Pair Programming</li>
                <li>Test driven development</li>
            </ul>
        </p>
        <h2>🛠 Skills</h2>
        <h3>🖥️ Programming languages</h3>
        <ul role="list" class="link-card-grid">
        <Card
            title="C#"
            body="I've been working with C# for more than 10 years. I've been using it for backend development, desktop applications, and mobile applications."
        />
        <Card
            title="Rust"
            body="I've been learning Rust for a few months now. I'm planning to use it for backend development."
        />
</ul>
        <ul>
            <li>
                <img
                    src="https://img.shields.io/badge/-C%23-239120?style=flat-square&logo=c-sharp&logoColor=white"
                    alt="C#"
                />
            </li>
            <li>
                <img
                    src="https://img.shields.io/badge/-Rust-000000?style=flat-square&logo=rust&logoColor=white"
                    alt="Rust"
                />
            </li>
            <img
                src="https://img.shields.io/badge/-Swift-FA7343?style=flat-square&logo=swift&logoColor=white"
                alt="Swift"
            />
            <li>
                <img
                    src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white"
                    alt="TypeScript"
                />
            </li>
        </ul>
        <h3>📚 Frameworks and libraries</h3>
        <ul>
            <li>
                <img
                    src="https://img.shields.io/badge/-.NET%20Core-5C2D91?style=flat-square&logo=dotnet&logoColor=white"
                    alt=".NET Core"
                />
            </li>
            <li>
                <img
                    src="https://img.shields.io/badge/-React-61DAFB?style=flat-square&logo=react&logoColor=white"
                    alt="React"
                />
            </li>
        </ul>
        <h3>🗄️ Databases</h3>
        <ul>
            <li>
                <img
                    src="https://img.shields.io/badge/-PostgreSQL-336791?style=flat-square&logo=postgresql&logoColor=white"
                    alt="PostgreSQL"
                />
            </li>
            <li>
                <img
                    src="https://img.shields.io/badge/-MongoDB-47A248?style=flat-square&logo=mongodb&logoColor=white"
                    alt="MongoDB"
                />
            </li>
        </ul>
        <h2>💼 Experience</h2>
        <p><b>2021 - Present:</b> Freelance software developer and tech lead</p>
        <p>
            <b>2019 - 2021:</b> Lead backend developer at [Wiidii](https://www.wiidii.com/)
        </p>
        <p><b>2017 - 2019:</b> CTO at [Clezer](https://www.clezer.com/)</p>
        <p>
            <b>2015 -2017:</b> Technical Lead @ [RE'FLEKT GmbH](https://www.re-flekt.com/)
        </p>
        <p>
            <b>2013 - 2015:</b> Software Engineer @ [RE'FLEKT GmbH](https://www.re-flekt.com/)
            <b>Before 2013:</b> Various freelance projects
        </p>
        <h2>📚 Education</h2>
        <p><b>2012:</b> Master's degree in Computer Science</p>
        <h2>📝 Certifications</h2>
        <p><b>2015:</b> Certified SCRUM Product Owner (CSPO)</p>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        max-width: 80ch;
        text-align: justify;
    }
    .introduction {
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }
    .tagline {
        font-style: italic;
        margin-bottom: 2rem;
    }
    .tagline::before {
        content: "👋";
        margin-right: 0.5rem;
    }
    h2 {
        margin-top: 2rem;
    }
    h3 {
        margin-top: 1rem;
    }
    .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
