---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<section id="about" class="flex flex-col max-w-2xl m-auto mt-4 p-4">
  <h2
    class="text-4xl text-ultramarine font-extrabold"
  >
    {title}
  </h2>
  <div class="mt-4 text-lg font-sans text-grey-200">
    <slot />
  </div>
</section>
