---

---

<!-- A big capitalized and stilized serif text -->
<h1 class="title">
    <slot/>
</h1>

<style>
    /* Defines the text as centered and a serif colorful gradient */
    .title {
        font-family: 'Playfair Display', serif;
        font-size: 5em;
        font-weight: 900;
        text-align: left;
        vertical-align: middle;
        margin: auto;
        background: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: -0.05em;
        /* Make letters from different lines overlap */
        line-height: 0.9;
    }
</style>
