---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--palette-space-cadet: #1e1e34;
		--palette-lavender-web: #e4e4f1;
		--palette-ultramarine: #4a0ffa;
		--palette-rusty-red: #da2c43;

		--color-dark: var(--palette-space-cadet);
		--color-light: var(--palette-lavender-web);
		--color-accent: var(--palette-ultramarine);
		--color-accent-alt: var(--palette-rusty-red);

		--gradient-accent: linear-gradient(45deg, var(--color-accent), var(--color-accent-alt));
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-alt)),
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--color-dark);
		color: var(--color-light);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
